In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot

In [2]:
stroke=pd.read_csv('stroke.csv')
stroke

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
stroke.shape

(5110, 11)

In [4]:
stroke.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
stroke[stroke==0].count()

gender                  0
age                     0
hypertension         4612
heart_disease        4834
ever_married            0
work_type               0
Residence_type          0
avg_glucose_level       0
bmi                     0
smoking_status          0
stroke               4861
dtype: int64

In [6]:
stroke['bmi'] = stroke['bmi'].fillna(stroke['bmi'].mean())

In [7]:
stroke.shape

(5110, 11)

In [8]:
stroke['smoking_status'] = stroke['smoking_status'].fillna(stroke['smoking_status'].mode()[0])

In [9]:
stroke.shape

(5110, 11)

In [10]:
stroke.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [11]:
stroke.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.698018,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.800000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.400000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,32.800000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [12]:
stroke['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [13]:
#ENCODING THE DATASETS
from sklearn import preprocessing 
encoder = preprocessing.LabelEncoder()
for i in stroke.columns:
    if isinstance(stroke[i][0], str):
        stroke[i] = encoder.fit_transform(stroke[i])
#STANDARDIZING
from sklearn.preprocessing import StandardScaler 
scalar = StandardScaler() 
scalar.fit(stroke) 
scaled_data = scalar.transform(stroke)

In [14]:
X= stroke.drop('stroke', axis=1)
X.shape

(5110, 10)

In [15]:
y=stroke['stroke']
y.shape

(5110,)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state = 100)

In [17]:
log=LogisticRegression()

In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
log.fit(X_train,y_train)

LogisticRegression()

In [20]:
train_score=log.score(X_train,y_train)
print(f"Training set accuracy : {train_score}")

Training set accuracy : 0.9503424657534246

In [21]:
y_pred = log.predict(X_test)

In [22]:
from sklearn.metrics import accuracy_score
test_accuracy=accuracy_score(y_test,y_pred)
print(f"Test set accuracy :{test_accuracy}")

Test set accuracy :0.9549902152641878

In [23]:
print(f"Accuracy score of the model is:",test_accuracy*100)

Accuracy score of the model is: 95.49902152641879

In [24]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy using DecisionTree: {accuracy*100}')

Accuracy using DecisionTree: 91.78082191780823

In [25]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier()
rf_clf.fit(X_train, y_train)
y_pred = rf_clf.predict(X_test)
# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy using RandomForest: {accuracy*100}')

Accuracy using RandomForest: 95.49902152641879

In [26]:
from sklearn.svm import SVC
svm_clf = SVC()
svm_clf.fit(X_train, y_train)
y_pred = svm_clf.predict(X_test)
# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy using SVM {accuracy*100}')

Accuracy using SVM 95.49902152641879

In [27]:
import pickle
with open('model.pkl','wb') as file:
    pickle.dump(log,file)

In [28]:
model_columns=X_train.columns.tolist()
with open('model_columns.pkl','wb') as file:
    pickle.dump(model_columns,file)